body {
  background-color: rgb(64, 5, 131);
  font-family:'Times New Roman', arial;
}

.contenedor{
  position:relative;
  display: inline-block;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#meza-del-streaming {
  width: 100%;
  max-width: 1200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h1{
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  color: rgb(255, 255, 255);
}

h2{
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 30px;
}

.ordenimagenes{
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  display: inline-block;
  margin: 10px;
}

.logos{
  widh: 100%;
  max-width: 300px;
  cursor: pointer;
}
.A{
  width: 100%;
  max-width: 320px;
}

.B{
  background-color: #2d0057;
  color: #e9e9e9;
  width: 150px;
  height: 50px;
  font-size: 22px;
  padding: 10px;
}
.C{
  display: inline-block;
  vertical-align: middle; 
}
p{
 color: rgba(255, 255, 255, 1);
}







